button {
  outline: none;
  border: 0;
  border-radius: 30px;
  width: 100%;
  padding: 15px 0;
  font-family: inherit;
  font-size: $font-text;
  color: $white;
  background-color: $orange;
  text-transform: uppercase;
  font-weight: $font-bold;
  letter-spacing: 1px;

  &:hover {
    color: $orange;
    background-color: $white;
  }
}
